<div class="container">
  <div class="row">
    <h1 class="head404">404</h1>
    <div>
      <p>
        Hey! We're sorry to see you here. Something went wrong or the page you
        tried to access does not exist. Please check the path and try again.
      </p>
    </div>
  </div>
</div>