<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body id="page404">
    <h1 id="header">404</h1>
    <div class="notFound">
      <p class="data">
        Hey! We're sorry to see you here. Something went wrong or the page you
        tried to access does not exist. Please check the path and try again.
      </p>
    </div>
  </body>
</html>
