<div class="container">
    <div class="text-center">
        <img class="img-fluid" src="https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?w=1260&h=750&dpr=1"
            alt="">
    </div>
    <span class="container-fluid text-center about">
        <p>I'm a student and an aspiring web developer enrolled in the Computer Programming course at Seneca College,
            Toronto.</p>
        <p>Besides me being passionate about development, I like to travel, and I would, one day, love to explore the
            story
            of each country in the world.</p>
        <p>For me, this course is not just acquiring another level of education but also I will take home lots of
            knowledge,
            a good network, alongside a graduation certificate and of-course some life-long friendships.</p>
        <br />
        <p id="last">Meanwhile, watch me ride on this journey. Until next time.....</p>
        <p id="last">P.S.: Stay tuned, some more good stuff coming your way!</p>
    </span>
</div>