<h1>Add Category</h1>
<form class="form" action="/categories/add" method="POST">
    <hr>
    <table cellpadding="5" cellspacing="5">
        <tr class="form-group">
            <td><label class="form-label" for="category">Category</label></td>
            <td><input autofocus class="form-control" id="category" type="text" name="category" /><br /></td>
        </tr>
    </table>
    <button style="position: absolute; right:4vw;" class="btn btn-outline-danger" type="submit" value="submit">Add
        Category</button>
</form>