<!-- /*********************************************************************************
*  WEB322 - Assignment 03
*  I declare that this assignment is my own work in accordance with Seneca Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Sandeep Singh Student ID: 162054217 Date: 16 February 2023
*
*  Cyclic Web App URL: https://clumsy-tam-pike.cyclic.app/
*
*  GitHub Repository URL: https://github.com/sandeepjassal03/web322-app
*
********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="overflow-x: hidden;">
    <nav id="nav">
        <div id="navbar-brand">WEB322 - Sandeep Singh</div>
        <ul type="none" id="navbar">
            <li id="nav-item"><a id="nav-link" href="/about">About</a></li>
            <li id="nav-item"><a id="nav-link" href="/blog">Blog</a></li>
            <li id="nav-item"><a id="nav-link" href="/categories">Categories</a></li>
            <li id="nav-item"><a id="nav-link" href="/posts">Posts</a></li>
            <li id="nav-item"><a id="nav-link" href="/posts/add">Add Post</a></li>
        </ul>
    </nav>
    <h1>Add Post</h1>
    <div class="conatainer-fluid">

        <form class="form" action="/posts/add" method="POST" enctype="multipart/form-data">
            <h3>Feature Image</h3>
            <hr>
            <table>
                <tr>
                    <td><input class="form-control" id="photo" type="file" name="featureImage" /><br /></td>
                </tr>
            </table>
            <h3>Post Content</h3>
            <hr>
            <table cellpadding="5" cellspacing="5">
                <tr class="form-group">
                    <td><label class="form-label" for="title">Title</label></td>
                    <td><input class="form-control" id="title" type="text" name="title" /><br /></td>
                </tr>
                <tr class="form-group">
                    <td><label class="form-label" for="body">Body</label></td>
                    <td><textarea class="form-control" id="body" type="text" name="body"></textarea><br /></td>
                </tr>
                <tr class="form-group">
                    <td><label class="form-label" for="body">Category</label></td>
                    <td>
                        <select name="category" class="form-select" id="dropdown" aria-label="Default select example">
                            <option selected>Select the category</option>
                            <option value="1">Technology</option>
                            <option value="2">Gaming</option>
                            <option value="3">Fashion</option>
                            <option value="4">Education</option>
                            <option value="5">Wellness</option>
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label class="form-label">Visibility</label>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="published">
                            <label class="form-check-label" for="flexCheckChecked">
                                Published
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><input style="position: absolute; right:4vw;" class="btn btn-danger" type="submit"
                            value="Submit" /></td>
                </tr>
            </table>
            
        </form>

    </div>
</body>

</html>