<div class="row">
    <div class="col-md-12 tablePosts text-center">
        <h2 style="color: brown;">Categories</h2>
        <hr>
        <table class="table table-responsive table-hover text-center text-dark">
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            {{#each categories}}
            <tr onclick="">
                <td>{{id}}</td>
                <td>{{category}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col-md-12 text-center">
        {{#unless categories}}
            <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>