/*********************************************************************************
*  WEB322 - Assignment 03
*  I declare that this assignment is my own work in accordance with Seneca Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Sandeep Singh Student ID: 162054217 Date: 16 February 2023
*
*  Cyclic Web App URL: https://clumsy-tam-pike.cyclic.app/
*
*  GitHub Repository URL: https://github.com/sandeepjassal03/web322-app
*
********************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
    margin: 0;
}

.text-orange
{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: orange !important;
}

.forceWidth
{
    width:200px !important;
}

.gap{
    position: relative;
    top:20px !important;
}

.about
{
    max-width:400px;
    max-height: 400px;
}
.active{
    color: aqua !important;
}
.nav-link:hover {
    color: aqua !important;
}

.links{
    margin-bottom: 50px !important;
}

img{
    max-width:400px;
    max-height: 400px;
    margin-top: 50px;
}

.head404{
    font-family: "Josefin Sans", sans-serif;
    font-size: 500%;
}
