/*********************************************************************************
*  WEB322 - Assignment 02
*  I declare that this assignment is my own work in accordance with Seneca Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Sandeep Singh Student ID: 162054217 Date: 1 February 2023
*
*  Cyclic Web App URL: https://clumsy-tam-pike.cyclic.app/
*
*  GitHub Repository URL: https://github.com/sandeepjassal03/web322-app
*
********************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  margin: 0;
  background: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
    height: 10vh;
    background-color: black;
}
.navbar-brand {
    float: left;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-top: 3vh;
    padding-left: 10px;
    color: orange;
}
.nav-link {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 7px;
}
.nav-link:hover {
  color: aqua;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-top: 3.5vh;
    margin-right: 10px;
    float: right;
    overflow: hidden;
}
li {
 display:inline;
}

.content{
    height: 300px;
    width: 700px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 45vw;
    top: 20vh;
}
#last{
    color:rgb(255, 255, 255);
}
img{
    height: 400px;
    width: 500px;
    position: relative;
    top: 15vh;
    left: 7vw;
}