@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
    margin: 0;
}

.text-orange
{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: orange !important;
}

.forceWidth
{
    width:200px !important;
}

.gap{
    position: relative;
    top:20px !important;
}

.about
{
    max-width:400px;
    max-height: 400px;
}
.active{
    color: aqua !important;
}
.nav-link:hover {
    color: aqua !important;
}

.links{
    margin-bottom: 50px !important;
}

img{
    max-width:400px;
    max-height: 400px;
    margin-top: 50px;
}

.head404{
    font-family: "Josefin Sans", sans-serif;
    font-size: 500%;
}
